@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #262626;
  --background: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
